
.module-content {
    overflow: hidden; 
    transition: max-height 0.6s ease-out, opacity 0.6s ease-out;
    max-height: 0;
    opacity: 0;
}

.module-content.open {
    max-height: 200px;
    opacity: 2;
}