

.arrow {
  width: 2px;
  background: linear-gradient(to bottom, #a3e635, #000, #000);
  /* The gradient background will be dynamically set in the component */
}

.arrow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: solid 5px transparent;
  border-top-color: #a3e635;
}

.arrow::after {
  content: '';
  position: absolute;
  bottom: -20px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%); 
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 10px 0 10px; /* Adjust the border widths for arrow shape */
  border-color: #000 transparent transparent transparent; /* Transparent on the right half */
}





.timeline-step.active {
  color: #000;
}

.timeline-step .step-number {
  color: #d1d5db;
}

.timeline-step.active .step-number {
  color: #b3e9a5;
}

.timeline-step .step-title {
  color: #d1d5db;
}

.timeline-step.active .step-title {
  color: #000;
}

.timeline-step .step-description {
  color: #d1d5db;
  border-color: #d1d5db;
}

.timeline-step.active .step-description {
  color: #000;
  border-color: #000;
}


@media (min-width: 768px) {
  .timeline-container {
    padding: 40px;
  }
}




